*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/tools/venv
tools/.idea/workspace.xml
tools/easy-artist-60842-firebase-adminsdk-hits5-63e86fc81d.json
.idea/runConfigurations.xml
./idea/*
